alembic==1.16.4
APScheduler==3.11.1
argon2-cffi==25.1.0
email-validator==2.3.0
fastapi==0.136.1
passlib==1.7.4
pydantic==2.13.4
pydantic-settings==2.10.1
PyJWT==2.13.0
PyMySQL==1.1.1
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.32
SQLAlchemy==2.0.41
uvicorn==0.47.0
pwdlib==0.3.0